body {
    margin: 0;
    background-color: #0f172a;
    color: #f8fafc;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.card {
    background-color: #1e293b;
    padding: 24px;
    border-radius: 12px;

    width: 320px;
    text-align: center;

    border: 2px solid #eab308;

    box-shadow: 0 0 20px rgba(234, 179, 8, 0.3);
}

.card h1 {
    margin-bottom: 25px;
}

.card h2 {
    margin-bottom: 20px;
}

.caja-info {
    background: #334155;
    padding: 10px;
    margin: 10px 0;

    border-radius: 6px;
    font-weight: bold;
}

button {
    background-color: #2563eb;
    color: white;

    border: none;
    padding: 10px 18px;

    border-radius: 6px;
    cursor: pointer;

    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #1d4ed8;
}